.footer {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 34px 105px 37px 106px;
  transform: translateY(-215.5px);

  &-copy {
    font-family: $font;
    font-weight: 400;
    color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $black;
  }
  @media all and (min-width: 768px) {
    transform: translateY(-100px);
  }
  @media all and (min-width: 1024px) {
    transform: translateY(-407px);
  }
}
