.header {
  gap: 60px;
  height: 100vh;
  width: 100%;
  padding-inline: 83px;
  position: fixed;

  &-logo {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(13.7%);
    margin-top: -120px;

    @media all and (min-width: 768px) {
      transform: scale(13.9%);
      margin-top: 2px;
      margin-right: 30px;
    }
    @media all and (min-width: 1024px) {
      transform: scale(15%);
      width: 155px;
      margin: 20px -60px 20px;
      margin-top: -300px;
    }
  }

  &-nav {
    &-ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2.05rem;
      text-transform: uppercase;
      @media all and (min-width: 768px) {
        margin-left: 450px;
        transform: translateY(-40px);
        gap: 4rem;
      }
      @media all and (min-width: 1024px) {
        margin-left: 731px;
        // transform: translateX(40px);
        transform: translateY(-53px);
        gap: 2.1rem;
      }
    }
  }

  & a {
    color: $grey;
    text-decoration: none;
    font-size: 1.6rem;
  }
  & li {
    list-style: none;
  }
}
