.hero {
  height: 100vh;
  background-image: url("../images/herosmall.jpg");
  background-repeat: no-repeat;
  background-position: 68%;
  background-size: 270%;
  @media all and (min-width: 768px) {
    background-image: url("../images/heromedium.jpg");
    background-position: 59%;
    background-size: 200%;
  }
  @media all and (min-width: 1024px) {
    background-image: url("../images/herobig.jpg");
    background-position: 30%;
    background-size: 100%;
  }

  &-slogan {
    display: flex;
    flex-direction: column;
    margin-top: 129px;
    margin-right: 139px;
    margin-left: 20px;
    transform: translateY(280px);
    font-family: $font, $regular;
    font-size: 3rem;
    color: #ffffff;
    @media all and (min-width: 768px) {
      margin-top: 20px;
      margin-right: 416px;
      margin-left: 30px;
      font-size: 6rem;
    }
    @media all and (min-width: 1024px) {
      margin: 322px 652px 213px 50px;
    }
  }
}
